/* ----------------------- */
/* Responsividade */

@media (max-width:320px){
    #principal{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #cabecalho{
        display: flex;
        flex-direction: column;
    }

    #nome{
        margin-top: 11px;
    }

    #p-contato{
        font-size: 80%;
    } 

    #p-perfil,ul, li{
        color: #222222;
        font-size: 13px;
    }

    #principal{
        float: left;
    }

    #container-left{
        height: 100%;
        width: 100%;
    }
    
    #container-right{
        height: 100vh;
        width: 100%;
    }

    #conhecimentos{
        margin: 50px 0;
    }

    footer, #p-footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
    }
}

/* tela com valor máximo de largura, em até 480px */
@media (max-width:1240px){

    #principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    div[id^="conteudo"]{
        margin:  3% 25%;
    }    

    #container-left{
        height: 150%;
        width: 100%;
    }

    #cabecalho{
        display: flex;
        flex-direction: column;
    }
    
    #container-right{
        width: 100vw;
        padding-top: 10%;
    }

    #contato{
        margin-top: 10%;
    } 

    #conhecimentos{
        margin: 50px 0;
    }

    footer, #p-footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
    }

} 


/* parte azul - contato - ajuste para não ultrapassar o limite */
@media (min-width:1200px) and (max-width:1250px){
    #principal{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    #container-left{
        height: 100vh;
        width: 100%;
    }
    #container-right{
        padding-top: 10%;
        width: 55vw;
        height: 100vh;
    }
    #conteudo-right{
        margin:  0% 8%;
    }
    footer, #p-footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        color: #222222;
    }
}
